<app-header></app-header>
<main>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active img">
        <img src="../assets/AR-SALUD FARMACIA.png" class="img-carousel" alt="...">
      </div>
      <div class="carousel-item img">
        <img src="../assets/AR-SALUD FARMACIA (1).png" class="img-carousel" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active img">
        <img src="../assets/Bancos Adheridos.png" class="img-carousel" alt="...">
      </div>
      <div class="carousel-item img">
        <img src="../assets/Bancos Adheridos (1).png" class="img-carousel" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="menu">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ar-Salud</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Categoria</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <!--<li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Belleza</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cuidado de piel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cuidado de piel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cuidado de piel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cuidado de piel</a>
              </li>-->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Perfumeria
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="#">Mujer Importado</a></li>
                  <li><a class="dropdown-item" href="#">Mujer Nacional</a></li>
                  <li><a class="dropdown-item" href="#">Hombre Importado</a></li>
                  <li><a class="dropdown-item" href="#">Hombre Nacional</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Cuidados de la piel
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="#">Skin Care</a></li>
                  <li><a class="dropdown-item" href="#">Anti-age</a></li>
                  <li><a class="dropdown-item" href="#">Emulsiones</a></li>
                  <li><a class="dropdown-item" href="#">Limpieza</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Cuidado de niños
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="#">Nutrición</a></li>
                  <li><a class="dropdown-item" href="#">Pañaleria</a></li>
                  <li><a class="dropdown-item" href="#">Dermatologia</a></li>
                  <li><a class="dropdown-item" href="#">Limpieza</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Cuidado de Salud
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="#">Primeros Auxilios</a></li>
                  <li><a class="dropdown-item" href="#">Complementos de Farmacia</a></li>
                  <li><a class="dropdown-item" href="#">Ortopedia</a></li>
                  <li><a class="dropdown-item" href="#">Diagnostico & Medicion</a></li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="all-card">
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>

    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
    <div class="card-producto">
      <img src="../assets/Perfumes-Mujer-Irresistible-Givenchy.webp" alt="imagen producto" class="img-producto">
      <h5 class="name-p">name producto</h5>
      <button class="btn-p">Agregar</button>
    </div>
  </div>

</main>
<footer>

</footer>